<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/dragging.css">
    <link rel="stylesheet" href="/public/css/input.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="header">
        <div>
            <a href="/">
                <img src="/public/img/logo.png" alt="Project kamp logo" class="logo">
            </a>
        </div>
        <div>
            <a href="http://" class="btn--">Academy</a>
            <a href="http://" class="btn--">Research</a>
        </div>
    </div>
    <div id="bottom">
        <div class="d-flex justify-content-center align-items-center d-none" id="div-preview"
            onclick="closePreview(this)">
            <img src="" alt="" id="preview-image">
        </div>
        <nav class="position-relative">
            <%- navItems%>

                <button type="submit" class="btn--save" onclick="editChapters()"
                    style="position: absolute; right: 10px; top:10px">Edit chapters</button>
        </nav>
        <div class="d-flex justify-content-center w-100 pt-3" style="height: 100%; overflow: scroll;" id="scroll_div">
            <div class="content pb-5">
                <form action="/store/<%- id %>" method="post" id="storeForm" class="pt-5" enctype="multipart/form-data">
                    <%- contentHTML%>
                        <div class="draggable pt-5"></div>
                </form>
                <button type="submit" form="storeForm" class="btn btn-success mb-5">Save</button>
            </div>
        </div>
        <div class="options-menu">
            <div class="option" id="1">
                <i class="fa-solid fa-heading"></i>
                <div>Big title</div>
            </div>
            <div class="option" id="2">
                <i class="fa-solid fa-m"></i>
                <div>Madium title</div>
            </div>
            <div class="option" id="5">
                <i class="fa-solid fa-align-left"></i>
                <div>Text</div>
            </div>
            <div class="option" id="3">
                <i class="fa-solid fa-list-ul"></i>
                <div>Unordered List</div>
            </div>
            <div class="option" id="4">
                <i class="fa-solid fa-list-ol"></i>
                <div>Onordered List</div>
            </div>
            <div class="option" id="6">
                <i class="fa-brands fa-youtube"></i>
                <div>Video</div>
            </div>
            <div class="option" id="7">
                <i class="fa-regular fa-image"></i>
                <div>Image</div>
            </div>
        </div>
    </div>

</body>
<script src="/public/js/doc.js"></script>
<script src="/public/js/drag.js"></script>
<script>
    let unique_id = 0;
    function addChapter(btnPlus) {
        parent = btnPlus.parentElement.parentElement;

        const parser = new DOMParser();


        //SOLVING THIS FUCKER !!!!!!!!
        let string = `<input type="text" class="nav-link w-100 border--green mt-1 mb-1" name="new_chapter_${unique_id}" id="">`;
        const doc = parser.parseFromString(string, 'text/html');

        unique_id++;
        // Extract the first element
        newNode = doc.body.firstElementChild;
        parent.insertBefore(newNode, btnPlus.parentElement);

    }

    function editChapters() {
        const chapters = document.getElementsByClassName('edit-chapter');
        const static_chapters = document.getElementsByClassName('static-chapter');
        const btn_saveChapters = document.getElementById('save_chapters')

        for (const chapter_input of chapters) {
            chapter_input.classList.remove('d-none')
        }

        for (const chapter of static_chapters) {
            chapter.classList.add('d-none')
        }
        event.target.classList.add('d-none')
        btn_saveChapters.classList.remove('d-none')
    }

    document.querySelector('[contenteditable]').addEventListener('paste', function (event) {
        event.preventDefault();
        document.execCommand('inserttext', false, event.clipboardData.getData('text/plain'));
    });
</script>

</html>