<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="w-100 d-flex header">
        <div>
            <img src="/public/img/logo.png" alt="Project kamp logo" class="logo">
        </div>
        <div>
            <a href="http://" class="btn--">Academy</a>
            <a href="http://" class="btn--">Research</a>
        </div>
    </div>
    <div class="d-flex w-100 h-100">
        <div class="d-flex justify-content-center align-items-center d-none" id="div-preview"
            onclick="closePreview(this)">
            <img src="" alt="" id="preview-image">
        </div>
        <nav>
            <%- navItems%>
        </nav>
        <main class=" d-flex justify-content-center w-100 pt-5 pb-5" style="max-height: 100vh; overflow: scroll;">
            <div class="content pb-5">
                <form action="/store/2" method="post" id="storeForm" enctype="multipart/form-data">
                    <!-- title big -->
                    <div class="element-container">
                        <input type="text" class="title-big doc-input" placeholder="Title big" name="title_big">
                        <div class="d-flex justify-content-center align-items-center btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>

                    <!-- title medium -->
                    <div class="element-container">
                        <input type="text" class="title-medium doc-input" placeholder="Title medium"
                            name="title_medium">
                        <div class="d-flex justify-content-center align-items-center btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>


                    <!-- text regular -->
                    <div class="element-container">
                        <div contenteditable="true" class="text-regular doc-input div-input">Text</div>
                        <input type="hidden" name="text_regular" class="doc-input">
                        <div class="btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>

                    <div class="element-container">
                        <div class="w-100">

                            <ul contenteditable="true" class="list-input">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <input type="text" name="uList" class="d-none doc-input">
                        </div>
                        <div class="btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>

                    <div class="element-container">
                        <div class="w-100">
                            <ol contenteditable="true" class="list-input">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ol>
                            <input type="text" name="oList" class="d-none doc-input">
                        </div>
                        <div class="btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>


                    <!-- youtube video -->
                    <div class="element-container">
                        <div class="w-100 h-100">
                            <input type="text" class="doc-input video-input" placeholder="Youtube Url" name="video">
                            <iframe src="" class="" frameborder="0"></iframe>
                        </div>
                        <div class="d-felx justify-content-center align-items-center btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>


                    <!-- image -->
                    <div class="element-container">
                        <div>
                            <input type="text" name="image_name" class="d-none doc-input">
                            <input type="file" class="doc-input file-input" accept="image/*" placeholder="Youtube Url"
                                name="images">
                            <img class="w-100 zoomable" alt="">
                        </div>
                        <div class="d-felx justify-content-center align-items-center btnDelete">
                            <i class="fa-solid fa-xmark" onclick="deleteElement(this)"></i>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success">Save</button>
                </form>


                <!-- MUlti Image Later -->
                <!-- <input type="file" class="doc-input file-input d-none" accept="image/*" placeholder="Youtube Url">
                <div class="mb-5 image-grid">
                    <img class="image-grid-item zoomable" alt="" src="/public/img/logo.png">
                    <img class="image-grid-item zoomable" alt="" src="/public/img/unnamed.jpg">
                    <img class="image-grid-item zoomable" alt="" src="/public/img/logo.png">
                    <img class="image-grid-item zoomable" alt="" src="/public/img/unnamed.jpg">
                </div> -->


            </div>
        </main>


    </div>
    <script src="/public/js/doc.js"></script>


</body>

</html>