<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body onkeydown="myFunction(event)">
    <div class="header">
        <div>
            <img src="/public/img/logo.png" alt="Project kamp logo" class="logo">
        </div>
        <div>
            <a href="http://" class="btn--">Academy</a>
            <a href="http://" class="btn--">Research</a>
        </div>
    </div>
    <div class="d-flex w-100 h-100">
        <nav>
            <%- navItems%>
                <!-- <section>
                <input type="checkbox" name="checkbox" class="toogle" id="1">

                <label for="1">Section 1
                    <i class="fa-solid fa-angle-right"></i>
                </label>
                <div class="toogle-div">
                    <a href="http://" class="nav-link">Asd</a>
                </div>
            </section>



            <section>
                <input type="checkbox" name="checkbox" class="toogle" id="2">

                <label for="2">Section 2
                    <i class="fa-solid fa-angle-right"></i>
                </label>
                <div class="toogle-div">
                    <a href="http://" class="nav-link">Asd</a>
                </div>
            </section>

            <section>
                <input type="checkbox" name="checkbox" class="toogle" id="3">

                <label for="3">Section 3
                    <i class="fa-solid fa-angle-right"></i>
                </label>
                <div class="toogle-div">
                    <a href="http://" class="nav-link">Asd</a>
                </div>
            </section> -->
        </nav>
        <main class=" d-flex justify-content-center w-100 pt-5 pb-5" style="max-height: 100vh; overflow: scroll;">
            <div class="content" contenteditable="false">

                <%- contentHTML %>


            </div>
        </main>


    </div>
</body>

</html>