<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/input.css">
    <link rel="stylesheet" href="/public/css/dragging.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="header">
        <div>
            <img src="/public/img/logo.png" alt="Project kamp logo" class="logo">
        </div>
        <div>
            <a href="http://" class="btn--">Academy</a>
            <a href="http://" class="btn--">Research</a>
        </div>
    </div>
    <div id="bottom">
        <div class="d-flex justify-content-center align-items-center d-none" id="div-preview"
            onclick="closePreview(this)">
            <img src="" alt="" id="preview-image">
        </div>
        <nav>
            <%- navItems%>
        </nav>
        <div class="d-flex justify-content-center w-100 pt-3" style="max-height: 100%; overflow: scroll;">
            <div class="content pb-5 pt-5">
                <%- contentHTML%>


            </div>
        </div>


    </div>

</body>
<script src="/public/js/doc.js"></script>

<script>
    function addChapter(div) {
        parent = div.parentElement.parentElement;

        const parser = new DOMParser();


        //SOLVING THIS FUCKER !!!!!!!!
        let string = `<input type="text" class="nav-link w-100 border-green mt-1 mb-1" name="${div.id}" id="">`;
        const doc = parser.parseFromString(string, 'text/html');

        // Extract the first element
        newNode = doc.body.firstElementChild;
        parent.insertBefore(newNode, div.parentElement);

    }
</script>

</html>