

#storeForm.dragging :where(.medium--top, .medium--bottom) {
    opacity: 0;
}

#storeForm.dragging :where(.small--top, .small--bottom) {
    opacity: 0;
}

.dragging {
    border: 5px dotted #ffffff;
}


.options-menu{
    position: absolute;
    height: 100%;
    width: 200px;
    overflow-y: scroll;
    padding: 10px;
    padding-right: 0px;
    right: 0px;
    background-color: whitesmoke;
}
.option{
    width: 100%;
    aspect-ratio: 16/9;
    border: 2px solid #8ab580;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.option i{
    font-size: 50px;
}