

#storeForm.dragging{
    opacity: 0;
}
.dragging {
    border: 2px dotted black;
    padding: 2px;
}


.options-menu{
    position: relative;
    height: 100%;
    width: 200px;
    overflow-y: scroll;
    padding: 15px;
    padding-right: 0px;
    right: 0px;
    background-color: rgba(245, 245, 245, 0.489);
}
.option{
    width: 100%;
    aspect-ratio: 16/9;
    border: 2px solid #8ab580;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: grab;
  
}
.option i{
    font-size: 42px;
}

.line{
    border-top: 5px solid red;
}